#{extends 'main.html' /}
#{set title:'Create redirect' /}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title">This redirect is password protected. Enter password to proceed.</h1>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger hide" role="alert" id="apiErrorAlert"></div>
            <form class="form-inline" role="form" id="passwordForm">
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" name="password" class="form-control" id="redirectPassword" placeholder="Enter password">
                    </div>
                    <div class="input-group hide">
                        <input type="text" name="alias" class="form-control" value="${alias}">
                    </div>
                </div>
                <button class="btn btn-default" id="passwordSubmit">Go!</button>
            </form>
        </div>
    </div>
</div>

<!--Code controlling form-->
<script type="text/javascript" src="@{'/public/javascripts/redirect/password.js'}"></script>