#{extends 'main.html' /}
#{set title:'About ree.direct' /}

<div class="container">
    <div class="jumbotron">
        <h2>Ree.direct
            <small>The simplest way to remember and share links</small>
        </h2>

        <p>Remembering long URLs is impossible. Ree.direct lets you link any url to an easy to remember keyword of your choice.</p>
        <p>Ex: <a href="http://www.ree.direct/gangnam">ree.direct/gangnam</a> can point to <a href="https://www.youtube.com/watch?v=9bZkp7q19f0">https://www.youtube.com/watch?v=9bZkp7q19f0</a></p>

        <p><a class="btn btn-primary btn-lg" href="/" role="button">Create a redirect!</a></p>
    </div>
</div>